{% load i18n %}

<div class="modal fade" id="topic-sticky-state-change-{{ topic.pk }}" tabindex="-1" role="dialog" aria-labelledby="{% translate 'Change sticky state of topic' %}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fs-5">
                    {% if topic.is_sticky %}
                        {% translate 'Remove "sticky" state from topic' %}
                        <b>{{ topic.subject }}</b>
                    {% else %}
                        {% translate 'Set "sticky" state for topic' %}
                        <b>{{ topic.subject }}</b>
                    {% endif %}
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
            </div>

            <div class="modal-body">
                {% if topic.is_sticky %}
                    <p>{% translate "Are you sure you want to remove the sticky state from this topic?" %}</p>
                {% else %}
                    <p>{% translate "Are you sure you want to make this topic sticky, so it always shows up on top of the topic list?" %}</p>
                {% endif %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                    <i class="fa-regular fa-hand fa-fw"></i>
                    {% translate "Cancel" %}
                </button>

                <a id="modal-button-confirm" class="btn btn-danger btn-sm" role="button" href="{% url 'aa_forum:forum_topic_change_sticky_state' topic.pk %}">
                    {% if topic.is_sticky %}
                        <i class="fa-solid fa-thumbtack fa-fw"></i>
                        {% translate "Unset sticky" %}
                    {% else %}
                        <i class="fa-solid fa-thumbtack fa-fw"></i>
                        {% translate "Make sticky" %}
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>
