{% load i18n %}
{% load static %}
{% load evelinks %}

<div class="aa-forum-board row">
    <div class="aa-forum-board-image">
        <img src="{% static 'aa_forum/images/off.png' %}" alt="Board">
    </div>

    <div class="aa-forum-board-name">
        <p>
            <a href="{% url 'aa_forum:forum_board' board.category.slug board.slug %}">{{ board.name }}</a>
        </p>

        {% if board.description %}
            <p class="text-muted">{{ board.description }}</p>
        {% endif %}

        {% if board.groups.all %}
            <p class="aa-forum-text-board-group-restrictions text-muted small">
                {% translate "This board is restricted to the following group(s):" %}<br>
                {{ board.groups.all|join:", " }}
            </p>
        {% endif %}

        {% if board.child_boards.all %}
            <p class="aa-forum-child-boards text-muted small">
                <b>{% translate "Child Boards:" %}</b>
                {% for child_board in board.child_boards.all %}
                    <a href="{% url 'aa_forum:forum_board' board.category.slug child_board.slug %}">{{ child_board.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </div>

    <div class="aa-forum-board-stats hidden-sm hidden-xs">
        {{ board.num_posts }} {% translate "Posts" %}<br>
        {{ board.num_topics }} {% translate "Topics" %}
    </div>

    <div class="aa-forum-board-last-post hidden-xs">
        {% if board.messages.all %}
            {% with user_maincharacter_id=board.latest_topic.last_message.user_created|main_character_id %}
                <img class="img img-rounded img-last-post-avatar" src="{{ user_maincharacter_id|character_portrait_url:64 }}" alt="{{ board.latest_topic.last_message.user_created|main_character_name }}">
            {% endwith %}
            <p class="last-post-information small">
                <b>{% translate "Last post:" %}</b>
                <a href="{% url 'aa_forum:forum_topic' board.latest_topic.last_message.board.category.slug board.latest_topic.last_message.board.slug board.latest_topic.last_message.topic.slug %}#message-{{ board.latest_topic.last_message.id }}">
                    {{ board.latest_topic.subject|truncatechars:25 }}
                </a>
                <br>
                <b>{% translate "posted by:" %}</b> {{ board.latest_topic.last_message.user_created|main_character_name }}<br>
                <b>{% translate "posted at:" %}</b> {{ board.latest_topic.last_message.time_posted }}
            </p>
        {% endif %}
    </div>
</div>
