{% load i18n %}
{% load static %}
{% load evelinks %}
{% load aa_forum %}

{% aa_forum_template_variable category_slug = board.category.slug %}
{% aa_forum_template_variable board_slug = board.slug %}
{% aa_forum_template_variable board_groups = board.groups.all %}
{% aa_forum_template_variable board_child_boards = board.child_boards.all %}

<div class="aa-forum-board d-md-flex px-0 py-3">
    <div class="aa-forum-board-image me-3">
        {% if board.num_unread > 0 %}
            <svg id="aa-forum-unread-in-{{ board.id }}" class="svg-icon-post-new">
                <use xlink:href="#aa-forum-icon-post"></use>
            </svg>
        {% else %}
            <svg class="svg-icon-post">
                <use xlink:href="#aa-forum-icon-post"></use>
            </svg>
        {% endif %}
    </div>

    <div class="aa-forum-board-name">
        <p>
            <a href="{{ board.get_absolute_url }}">{{ board.name }}</a>

            {% if board.num_unread > 0 %}
                <span
                    class="badge text-bg-warning label-aa-forum-topic-new-message ms-2"
                    title="{% translate 'There are new messages in this board' %}"
                    data-bs-tooltip="aa-forum"
                >
                    {% translate "New" %}
                </span>
            {% endif %}
        </p>

        {% if board.description %}
            <p class="text-muted">{{ board.description }}</p>
        {% endif %}

        {% if board_groups %}
            <p class="aa-forum-text-board-group-restrictions text-muted small">
                {% blocktranslate count group_count=board_groups|length %}This board is restricted to the following group:{% plural %}This board is restricted to the following groups:{% endblocktranslate %}
                <br>
                {{ board_groups|join:", " }}
            </p>
        {% endif %}

        {% if board_child_boards %}
            <p class="aa-forum-child-boards text-muted small">
                <b>{% translate "Child boards:" %}</b>

                {% for child_board in board_child_boards %}
                    <a href="{% url 'aa_forum:forum_board' category_slug child_board.slug %}">
                        {{ child_board.name }}
                    </a>

                    {% if child_board.num_unread > 0 %}
                        <span
                            class="badge text-bg-warning label-aa-forum-topic-new-message ms-2"
                            title="{% translate 'There are new messages in this board' %}"
                            data-bs-tooltip="aa-forum"
                            style="font-size: 0.625em;"
                        >
                            {% translate "New" %}
                        </span>
                    {% endif %}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </div>

    <div class="aa-forum-board-stats hidden-sm hidden-xs small">
        {{ board.num_posts }} {% translate "Posts" %}<br>
        {{ board.num_topics }} {% translate "Topics" %}

        {% if board.num_unread %}
            <br>
            {{ board.num_unread }} {% translate "Unread" %}
        {% endif %}
    </div>

    <div class="aa-forum-board-last-post hidden-xs">
        {% if board.topics.exists %}
            {% aa_forum_template_variable board_last_message = board.last_message %}
            {% aa_forum_template_variable board_latest_topic = board_last_message.topic %}
            {% aa_forum_template_variable board_latest_topic_board = board_latest_topic.board %}
            {% aa_forum_template_variable board_last_message_author = board_last_message.user_created %}

            {% with author_maincharacter_id=board_last_message_author|aa_forum_main_character_id %}
                <img
                    class="aa-forum-character-portrait img rounded img-last-post-avatar"
                    src="{{ author_maincharacter_id|character_portrait_url:64 }}"
                    alt="{{ board_last_message_author|aa_forum_main_character_name }}"
                    width="64"
                    height="64"
                    loading="lazy"
                >
            {% endwith %}

            <p class="mb-0 last-post-information small">
                <b>{% translate "Last post:" %}</b>

                <a
                    href="{% url 'aa_forum:forum_message' board.category.slug board_latest_topic_board.slug board_latest_topic.slug board_last_message.pk %}"
                    title="{{ board_latest_topic.subject }}"
                    data-bs-tooltip="aa-forum"
                >
                    {% if board.last_message != board.first_message %}
                        {% translate "Re:" %}
                    {% endif %}

                    {{ board_latest_topic.subject|truncatechars:25 }}
                </a>

                <br>
                <b>{% translate "posted by:" %}</b> {{ board_last_message_author|aa_forum_main_character_name }}<br>
                <b>{% translate "posted at:" %}</b> {{ board_last_message.time_posted|aa_forum_time }}
            </p>
        {% endif %}
    </div>
</div>
