
<div id="aa-forum-dashboard-widget-unread-topics" class="col-12 align-self-stretch py-2 collapse"></div>

<div class="aa-forum-svg-wrapper">
    {% include "aa_forum/bundles/svg/aa-forum-icons.svg" %}
</div>

<script>
    const aaForumUnreadTopicsWidget = document.getElementById("aa-forum-dashboard-widget-unread-topics");

    fetch('{% url "aa_forum:widgets_ajax_unread_topics" %}')
        .then((response) => {
            if (response.ok) {
                return response.text();
            }
            throw new Error("Something went wrong");
        })
        .then((responseText) => {
            {#console.log("Unread Forum Topics Widget: ", responseText);#}
            if (responseText !== "") {
                aaForumUnreadTopicsWidget.innerHTML = responseText;

                new bootstrap.Collapse(aaForumUnreadTopicsWidget, {
                    toggle: true
                });
            }
        })
        .catch((error) => {
            console.log(error);
        });
</script>
