:root {
    --bg-hover-transition: background-color 0.25s linear;
}

@media all {
    .panel-aa-forum-category .aa-forum-category {
        align-content: center;
        align-items: baseline;
        display: flex;
        flex-direction: row;
        padding: 1rem;
        transition: var(--bg-hover-transition);
    }

    .panel-aa-forum-category .aa-forum-category:last-child {
        margin-bottom: 0;
    }

    .panel-aa-forum-category .aa-forum-category:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    .panel-aa-forum-category .aa-forum-category-image {
        margin-right: 1rem;
    }

    .panel-aa-forum-category .aa-forum-category-name {
        width: 100%;
    }

    .aa-forum-category-name p:last-child {
        margin: 0;
    }

    .aa-forum-board-group-restrictions {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .aa-forum .django-ckeditor-widget {
        display: initial !important;
    }

    .aa-forum .aa-forum-category-last-post .img-last-post-avatar {
        float: left;
        height: 55px;
        margin-right: 1rem;
        width: 55px;
    }

    .aa-forum .aa-forum-category-last-post .last-post-information {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }

    .aa-forum img {
        height: auto !important; /* to override inline style added by CKeditor */
        max-width: 100%;
    }
}

/* Messages
------------------------------------------------------------------------------------- */
@media all {
    .aa-forum .aa-forum-message {
        align-items: flex-start;
        display: flex;
        flex-wrap: nowrap;
    }

    .aa-forum .aa-forum-message-author {
        margin: 2rem;
        min-width: 150px;
        width: 150px;
    }

    .aa-forum .aa-forum-message-author .img-author-avatar {
        margin-bottom: 1rem;
    }

    .aa-forum .aa-forum-message-wrapper {
        margin: 2rem;
        width: 100%;
    }

    .aa-forum .aa-forum-message-header {
        margin-bottom: 1rem;
    }

    .aa-forum .aa-forum-message-body {
        border-top: 1px solid rgb(236, 240, 241);
        padding: 1em 0 0 0;
    }
}

/* Breadcrumb
------------------------------------------------------------------------------------- */
@media all {
    .aa-forum .aa-forum-breadcrumb {
        padding: 1rem;
    }

    .aa-forum .aa-forum-breadcrumb ul {
        align-content: center;
        align-items: baseline;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        list-style-type: none;
        padding: 0;
    }

    .aa-forum .aa-forum-breadcrumb ul li {
        padding: .5rem 0 0.5rem 0.5rem;
    }
}

@media all and (min-width: 768px) {
    .panel-aa-forum-category .aa-forum-category-name {
        width: 60%;
    }

    .panel-aa-forum-category .aa-forum-category-stats {
        text-align: center;
        width: 15%;
    }

    .panel-aa-forum-category .aa-forum-category-last-post {
        width: 25%;
    }
}
