:root {
    --bg-hover-transition: background-color 0.25s linear;
}

@media all {
    .panel-aa-forum-category .aa-forum-board {
        align-content: center;
        align-items: baseline;
        display: flex;
        flex-direction: row;
        padding: 1rem;
        transition: var(--bg-hover-transition);
    }

    .panel-aa-forum-category .aa-forum-board:last-child {
        margin-bottom: 0;
    }

    .panel-aa-forum-category .aa-forum-board:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    .panel-aa-forum-category .aa-forum-board-image {
        margin-right: 1rem;
    }

    .panel-aa-forum-category .aa-forum-board-name {
        width: 100%;
    }

    .aa-forum-board-name p:last-child {
        margin: 0;
    }

    .aa-forum-board-group-restrictions {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .aa-forum .django-ckeditor-widget {
        display: initial !important;
    }

    .aa-forum .aa-forum-board-last-post .img-last-post-avatar {
        float: left;
        height: 55px;
        margin-right: 1rem;
        width: 55px;
    }

    .aa-forum .aa-forum-board-last-post .last-post-information {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }

    .aa-forum img {
        height: auto !important; /* to override inline style added by CKeditor */
        max-width: 100%;
    }

    .aa-forum .aa-forum-lightbox-modal {
        z-index: -1;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .aa-forum .aa-forum-lightbox-modal .modal-dialog {
        max-width: 95%;
        width: auto !important;
        max-height: 95%;
        height: auto !important;
        display: inline-block;
    }

    .modal-open .modal {
        z-index: 1050;
    }
}

/* Messages
------------------------------------------------------------------------------------- */
@media all {
    .aa-forum .aa-forum-message {
        align-items: flex-start;
        display: flex;
        flex-wrap: nowrap;
    }

    .aa-forum .aa-forum-message-author {
        margin: 2rem;
        min-width: 150px;
        width: 150px;
    }

    .aa-forum .aa-forum-message-author .img-author-avatar {
        margin-bottom: 1rem;
    }

    .aa-forum .aa-forum-message-wrapper {
        margin: 2rem;
        width: 100%;
    }

    .aa-forum .aa-forum-message-header {
        margin-bottom: 1rem;
    }

    .aa-forum .aa-forum-message-body {
        border-top: 1px solid rgb(236, 240, 241);
        padding: 1em 0 0 0;
    }
}

/* Breadcrumb
------------------------------------------------------------------------------------- */
@media all {
    .aa-forum .aa-forum-breadcrumb {
        padding: 1rem;
    }

    .aa-forum .aa-forum-breadcrumb ul {
        align-content: center;
        align-items: baseline;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        list-style-type: none;
        padding: 0;
    }

    .aa-forum .aa-forum-breadcrumb ul li {
        padding: .5rem 0 0.5rem 0.5rem;
    }
}

/* Sortable categories and boards
------------------------------------------------------------------------------------- */
@media all {
    .aa-forum .aa-forum-ui-placeholder {
        outline: 1px dashed rgb(0, 0, 0);
    }

    .aa-forum .categories-sortable, .aa-forum .boards-sortable {
        list-style-type: none;
        padding: 0;
    }

    .aa-forum .categories-sortable > li, .aa-forum .boards-sortable > li {
        /*padding: 1rem;*/
        margin-bottom: 1rem;
    }

    .aa-forum .boards-sortable > li {
        padding: 1rem;
        background-color: rgb(236, 240, 241);
    }

    .template-dark-mode .aa-forum .boards-sortable > li {
        background-color: rgb(70, 69, 69);
    }

    .aa-forum .boards-sortable > li:first-child {
        margin-top: 1rem;
    }
}

/* MultiSelect
------------------------------------------------------------------------------------- */
@media all {
    .aa-forum .SumoSelect p {
        height: auto;
    }
}

@media all and (min-width: 768px) {
    .panel-aa-forum-category .aa-forum-board-name {
        width: 60%;
    }

    .panel-aa-forum-category .aa-forum-board-stats {
        text-align: center;
        width: 15%;
    }

    .panel-aa-forum-category .aa-forum-board-last-post {
        width: 25%;
    }
}
