{% extends 'aa_forum/base.html' %}
{% load bootstrap %}

{% load evelinks %}
{% load static %}
{% load i18n %}

{% block page_title %}{% translate 'Forum' %}{% endblock %}

{% block aa_forum_header %}
    <br>

    {% include "aa_forum/partials/menu.html" %}
    {% include "aa_forum/partials/breadcrumb.html" with category=first_message.board.category board=first_message.board first_message=first_message %}
{% endblock %}

{% block aa_forum_body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                {{ first_message.subject }}
            </div>
        </div>
    </div>

    {% for message in page_obj %}
        {% include "aa_forum/partials/forum/topic/message.html" %}
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% include "aa_forum/partials/forum/topic/reply.html" %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'aa_forum/css/aa-bootstrap-fix.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'aa_forum/css/aa-forum.min.css' %}">
{% endblock %}

{% block extra_javascript %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="application/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
