{% extends "aa_forum/base.html" %}

{% load i18n %}

{% block page_title %}
    {{ topic.subject }} » {% translate "Forum" %}
{% endblock %}

{% block aa_forum_header %}
    {% include "aa_forum/partials/breadcrumb.html" with category=topic.board.category board=topic.board topic=topic %}
{% endblock %}

{% block aa_forum_body %}
    <div class="card card-default mb-3">
        <div class="card-header">
            <div class="card-title mb-0 clearfix">
                {{ topic.subject }}

                {% if can_modify_subject %}
                    <a
                        id="aa-forum-btn-modify-topic-{{ topic.pk }}"
                        href="{% url 'aa_forum:forum_topic_modify' topic.board.category.slug topic.board.slug topic.slug %}"
                        class="btn btn-aa-forum-topic-moderation btn-sm float-end"
                        title="{% translate 'Modify topic subject' %}"
                        data-bs-tooltip="aa-forum"
                    >
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "aa_forum/partials/forum/topic/pagination.html" %}

    {% for message in page_obj %}
        {% include "aa_forum/partials/forum/topic/message.html" %}
    {% endfor %}

    {% include "aa_forum/partials/forum/topic/pagination.html" %}

    {% if not topic.is_locked %}
        {% include "aa_forum/partials/forum/topic/reply.html" %}
    {% elif topic.is_locked and perms.aa_forum.manage_forum %}
        {% include "aa_forum/partials/forum/topic/reply.html" %}
    {% endif %}
{% endblock %}

{% block extra_css %}
    {% include "aa_forum/bundles/ckeditor5-css.html" %}
    {% include "aa_forum/bundles/aa-forum-css.html" %}
{% endblock %}

{% block extra_javascript %}
    {% include "aa_forum/bundles/ckeditor5-js.html" %}
    {% include "aa_forum/bundles/aa-forum-ckeditor-js.html" %}
    {% include "aa_forum/bundles/aa-forum-oembed-js.html" %}
    {% include "bundles/clipboard-js.html" %}
    {% include "aa_forum/bundles/aa-forum-bootstrap-js.html" %}

    <script>
        $(document).ready(function () {
            let clipboard = new ClipboardJS('.btn-aa-forum-copy-to-clipboard');

            clipboard.on('success', function (e) {
                e.clearSelection();
            });

            clipboard.on('error', function (e) {
                console.error('Action:', e.action);
                console.error('Trigger:', e.trigger);
            });
        });
    </script>
{% endblock %}
