{% extends "aa_forum/base.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Unread topics" as page_title %}
    {% translate "Forum" as app_title %}

    {{ page_title|title }} » {{ app_title }}
{% endblock %}

{% block aa_forum_header %}
    {% include "aa_forum/partials/forum/mark-unread-button.html" with position="above-board-list" %}

    {% translate "Unread Topics" as page_title %}
    {% include "aa_forum/partials/breadcrumb.html" with page=page_title %}
{% endblock %}

{% block aa_forum_body %}
    {% if boards %}
        {% for board in boards %}
            {% include "aa_forum/partials/forum/topic/unread-topics.html" %}
        {% endfor %}

        {% include "aa_forum/partials/forum/mark-unread-button.html" with position="below-board-list" %}
    {% else %}
        <div class="card card-default">
            <div class="card-body">
                <div class="alert alert-info">
                    <p>{% translate "You have no unread topics …" %}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_javascript %}
    {% include "aa_forum/bundles/aa-forum-oembed-js.html" %}
    {% include "aa_forum/bundles/aa-forum-bootstrap-js.html" %}
{% endblock %}

{% block extra_css %}
    {% include "aa_forum/bundles/ckeditor5-css.html" %}
    {% include "aa_forum/bundles/aa-forum-css.html" %}
{% endblock %}
