{% load aa_forum_template_variables %}
{% load aa_forum_user %}
{% load evelinks %}
{% load i18n %}

<div id="message-{{ message.id }}" class="panel panel-default">
    {% set_template_variable message_author = message.user_created %}

    <div class="panel-body">
        <div class="aa-forum-message">
            <div class="aa-forum-message-author">
                <figure>
                    {% with user_maincharacter_id=message_author|main_character_id %}
                        <img class="img img-rounded img-author-avatar" src="{{ user_maincharacter_id|character_portrait_url:128 }}" alt="{{ message_author|main_character_name }}">
                    {% endwith %}
                </figure>

                <p>
                    <b>{{ message_author|main_character_name }}</b><br>
                    {{ message_author|main_character_corporation_name }}

                    {% with main_character_alliance_name=message_author|main_character_alliance_name %}
                        {% if main_character_alliance_name %}
                            <br>{{ main_character_alliance_name }}
                        {% endif %}
                    {% endwith %}
                </p>
            </div>

            <div class="aa-forum-message-wrapper">
                <div class="aa-forum-message-header">
                    <div class="aa-forum-message-keyinfo">
                        <a href="{{ request.path }}#message-{{ message.id }}">
                            {% if not forloop.first %}{% translate "Re:" %}{% endif %}
                            {{ topic.subject }}
                        </a><br>
                        <small>« <b>{% translate "on:" %}</b> {{ message.time_posted }} »</small>
                    </div>
                </div>

                <div class="aa-forum-message-body">
                    {{ message.message|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
