{% load i18n %}
{% load bootstrap %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            {% translate "Reply" %}
        </div>
    </div>

    <div class="panel-body">
        <form autocomplete="off" action="{% url "aa_forum:forum_topic_reply" topic.board.category.slug topic.board.slug topic.slug %}" method="post">
            {% csrf_token %}

            {{ reply_form|bootstrap }}

            {% include "aa_forum/partials/form/required_field_hint.html" %}

            <div class="form-group text-right clearfix">
                <button class="btn btn-success" type="submit">{% translate "Reply" %}</button>
            </div>
        </form>
    </div>
</div>
