{% load i18n %}

<div class="aa-forum-breadcrumb">
    <ul>
        <li><a href="{% url 'aa_forum:forum_index' %}">{% translate "Forum Index" %}</a></li>

        {% if category %}
            <li>» <a href="{% url 'aa_forum:forum_index' %}#category-{{ category.id }}">{{ category.name }}</a></li>
        {% endif %}

        {% if board %}
            <li>» <a href="{% url 'aa_forum:forum_board' board.category.slug board.slug %}">{{ board.name }}</a></li>
        {% endif %}

        {% if first_message %}
            <li>» <a href="{% url 'aa_forum:forum_topic' board.category.slug board.slug first_message.slug %}">{{ first_message.subject }}</a></li>
        {% endif %}
    </ul>
</div>
