{% extends "aa_forum/base.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Administration (Categories and boards)" as page_title %}
    {% translate "Forum" as app_title %}

    {{ page_title|title }} » {{ app_title }}
{% endblock %}

{% block aa_forum_body %}
    <script>
        const aaForumJsSettingsOverride = {}
    </script>

    {% include "aa_forum/partials/administration/categories.html" %}
{% endblock %}

{% block extra_css %}
    {% include "bundles/jquery-ui-css.html" %}
    {% include "aa_forum/bundles/sumoselect-css.html" %}
    {% include "aa_forum/bundles/aa-forum-css.html" %}
{% endblock %}

{% block extra_javascript %}
    {% include "bundles/jquery-ui-js.html" %}
    {% include "aa_forum/bundles/sumoselect-js.html" %}
    {% include "aa_forum/bundles/aa-forum-js.html" %}
    {% include "aa_forum/bundles/aa-forum-admin-js.html" %}
    {% include "aa_forum/bundles/aa-forum-bootstrap-js.html" %}
{% endblock %}
