{% load static %}
{% load i18n %}
{% load evelinks %}
{% load aa_forum_user %}

{% for category in categories %}
    {% if category.boards.all %}
        <div id="category-{{ category.id }}" class="panel panel-default panel-aa-forum-category">
            <div class="panel-heading">
                <div class="panel-title">{{ category.name }}</div>
            </div>

            <div class="panel-body">
                {% for board in category.boards %}
                    <div class="aa-forum-category row">
                        <div class="aa-forum-category-image">
                            <img src="{% static 'aa_forum/images/off.png' %}" alt="Board">
                        </div>

                        <div class="aa-forum-category-name">
                            <p>
                                <a href="{% url 'aa_forum:forum_board' category.slug board.slug %}">{{ board.name }}</a>
                            </p>

                            {% if board.description %}
                                <p class="text-muted">{{ board.description }}</p>
                            {% endif %}

                            {% if board.groups.all %}
                                <p class="aa-forum-text-board-group-restrictions text-muted small">
                                    {% translate "This board is restricted to the following group(s):" %}<br>
                                    {{ board.groups.all|join:", " }}
                                </p>
                            {% endif %}

                            {% if board.child_boards.all %}
                                <p class="aa-forum-child-boards text-muted small">
                                    <b>{% translate "Child Boards:" %}</b>
                                    {% for child_board in board.child_boards.all %}
                                        <a href="{% url 'aa_forum:forum_board' category.slug child_board.slug %}">{{ child_board.name }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>

                        <div class="aa-forum-category-stats hidden-sm hidden-xs">
                            {{ board.num_posts }} {% translate "Posts" %}<br>
                            {{ board.num_topics }} {% translate "Topics" %}
                        </div>

                        <div class="aa-forum-category-last-post hidden-xs">
                            {% if board.messages.all %}
                                {% with user_maincharacter_id=board.latest_topic.last_message.user_created|main_character_id %}
                                    <img class="img img-rounded img-last-post-avatar" src="{{ user_maincharacter_id|character_portrait_url:64 }}" alt="{{ board.latest_topic.last_message.user_created|main_character_name }}">
                                {% endwith %}
                                <p class="last-post-information small">
                                    <b>{% translate "Last post:" %}</b> {{ board.latest_topic.subject|truncatechars:25 }}<br>
                                    <b>{% translate "posted by:" %}</b> {{ board.latest_topic.last_message.user_created|main_character_name }}<br>
                                    <b>{% translate "posted at:" %}</b> {{ board.latest_topic.last_message.time_posted }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
