{% load django_bootstrap5 %}
{% load i18n %}

<li class="mb-3 p-3 {% if is_child_board %}child-{% endif %}board-sortable ui-state-default ui-sortable" data-board-id="{{ board.board_obj.pk }}" data-position="{{ board.board_obj.order }}">
    <div class="aa-forum-admin-board-name clearfix">
        {{ board.board_obj.name }}

        <div class="float-end">
            <button
                class="btn btn-warning btn-sm"
                title="{% translate 'Edit board' %}"
                data-bs-tooltip="aa-forum"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEditBoard-{{ board.board_obj.pk }}"
                aria-expanded="false"
                aria-controls="collapseEditBoard-{{ board.board_obj.pk }}"
            >
                <i class="fa-solid fa-pencil"></i>
            </button>

            <button
                class="btn btn-danger btn-sm"
                title="{% translate 'Delete board' %}"
                data-bs-tooltip="aa-forum"
                data-bs-toggle="modal"
                data-bs-target="#delete-board-{{ board.board_obj.pk }}"
            >
                <i class="fa-regular fa-trash-can"></i>
            </button>
        </div>
    </div>

    <div class="collapse" id="collapseEditBoard-{{ board.board_obj.pk }}" style="margin-top: 1rem;">
        <div class="card card-body text-bg-secondary mb-3 py-3">
            <p>
                {% translate "Changing the name of this board does not change its URL part. This will remain the same to not break any possible links into this board." %}
            </p>

            <form id="aa-forum-form-edit-board-{{ board.board_obj.pk }}" autocomplete="off" action="{% url 'aa_forum:admin_board_edit' category.category_obj.pk board.board_obj.pk %}" method="post">
                <fieldset>
                    {% csrf_token %}

                    {% bootstrap_field board.board_forms.board_edit_form.name %}
                    {% bootstrap_field board.board_forms.board_edit_form.description %}
                    {% bootstrap_field board.board_forms.board_edit_form.discord_webhook %}
                    {% bootstrap_field board.board_forms.board_edit_form.use_webhook_for_replies %}

                    {% if not is_child_board %}
                        {% bootstrap_field board.board_forms.board_edit_form.groups %}
                        {% bootstrap_field board.board_forms.board_edit_form.is_announcement_board %}
                        {% bootstrap_field board.board_forms.board_edit_form.announcement_groups %}
                    {% endif %}

                    {% include "aa_forum/partials/form/required-field-hint.html" %}

                    <div class="form-group aa-forum-form-group aa-forum-form-change-board float-end clearfix">
                        <button class="btn btn-primary btn-sm" type="submit">
                            {% translate "Change board" %}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {% if not is_child_board %}
        <div class="child-boards" style="margin-left: 2rem; margin-top: 2rem;">
            <p>
                <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNewChildBoardForm-{{ board.board_obj.pk }}" aria-expanded="false" aria-controls="collapseNewBoardForm-{{ category.category_obj.pk }}">
                    {% translate "New child board" %}
                </button>
            </p>

            <div class="collapse" id="collapseNewChildBoardForm-{{ board.board_obj.pk }}">
                <div class="card card-body text-bg-secondary mb-3 py-3">
                    <p>
                        {% translate "New boards will be added at the bottom of the board list for this category. You can move them via drag and drop to a position of your liking." %}
                    </p>

                    <form id="aa-forum-form-admin-add-child-board-{{ board.board_obj.pk }}" autocomplete="off" action="{% url 'aa_forum:admin_board_create_child' category.category_obj.pk board.board_obj.pk %}" method="post">
                        <fieldset>
                            {% csrf_token %}

                            {% bootstrap_field board.board_forms.new_child_board_form.name %}
                            {% bootstrap_field board.board_forms.new_child_board_form.description %}
                            {% bootstrap_field board.board_forms.new_child_board_form.discord_webhook %}
                            {% bootstrap_field board.board_forms.new_child_board_form.use_webhook_for_replies %}

                            {% include "aa_forum/partials/form/required-field-hint.html" %}

                            <div class="form-group aa-forum-form-group aa-forum-form-new-board float-end clearfix">
                                <button class="btn btn-primary btn-sm" type="submit">
                                    {% translate "Create board" %}
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            {% if board.child_boards %}
                <ul id="child-boards-sortable-parent-board-{{ board.board_obj.pk }}" class="boards-sortable child-boards-sortable">
                    {% for child_board in board.child_boards %}
                        {% include "aa_forum/partials/administration/board-loop.html" with board=child_board is_child_board='yes' %}
                    {% endfor %}
                </ul>

                <script>
                    aaForumJsSettingsOverride.boardsWithChildren.push('#child-boards-sortable-parent-board-{{ board.board_obj.pk }}')
                </script>
            {% endif %}
        </div>
    {% endif %}

    {% include "aa_forum/modals/administration/delete-board.html" with board=board.board_obj %}
</li>
