{% load bootstrap %}
{% load i18n %}

<div>
    <p>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseNewCategoryForm" aria-expanded="false" aria-controls="collapseNewCategoryForm">
            {% translate "Create New Category" %}
        </button>
    </p>
</div>

<div class="collapse" id="collapseNewCategoryForm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                {% translate "New Category" %}
            </div>
        </div>

        <div class="panel-body">
            <p>
                {% translate "New categories will be added at the bottom of the category list. You can move them via drag and drop to a position of your liking." %}
            </p>

            <form id="aa-forum-form-admin-new-category" autocomplete="off" action="{% url 'aa_forum:admin_category_create' %}" method="post">
                <fieldset>
                    {% csrf_token %}

                    {{ new_category_form|bootstrap }}

                    {% include "aa_forum/partials/form/required-field-hint.html" %}

                    <div class="form-group aa-forum-form-group aa-forum-form-new-category text-right clearfix">
                        <button class="btn btn-primary btn-sm" type="submit">
                            {% translate "Create Category" %}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
